<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		
		<h3>if和else用法</h3>
		<div id="example-1">
		    <p v-if="greeting">return true!</p>
		    <p v-else="greeting">return else</p>
		</div>
		
		<script type="text/javascript">
		    var exampleVM1 = new Vue({
		        el: '#example-1',
		        data: {
		            greeting: false
		        }
		    })
		</script>

		

		<div id="example-2">
		    <template v-if="greeting">
		        <h4>Title</h4>
		        <p>Paragraph 1</p>
		        <p>Paragraph 1</p>
		    </template>
		</div>
		
		<script type="text/javascript">
		    var exampleVM2 = new Vue({
		        el: '#example-2',
		        data: {
		            greeting: true
		        }
		    })
		</script>
		
		<h3>show用法</h3>
		<div id="example-3">
			<div v-show="view">
				大河只见天上来
			</div>
		</div>
		<script type="text/javascript">
			var e3 = new Vue({
				el:"#example-3",
				data:{
					view:false
				}
			})
		</script>
	</body>
</html>
